<mat-toolbar color="white" class="navbar">
  <div class="logo" routerLink="/">
    <img src="assets/images/geniechat-logo.png" alt="GenieChat Logo" class="logo-icon">
    <span class="logo-text">GenieChat</span>
  </div>
  <span class="spacer"></span>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/contact">Contact</a>
  <div *ngIf="userEmail; else showButtons">

    <!-- User Profile Section -->
    <div class="user-profile" [matMenuTriggerFor]="userMenu">
      <div class="avatar">{{ userEmail.charAt(0).toUpperCase() || '' }}
      </div>
    </div>

    <!-- Popup Menu -->
    <mat-menu #userMenu="matMenu" class="profile-menu">
      <div class="menu-content">
        <p class="email">{{ userEmail }}</p>
      </div>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>

  <ng-template #showButtons>
    <button mat-stroked-button color="primary" routerLink="/login">Login</button>
    <button mat-raised-button color="accent" routerLink="/signup">Sign Up</button>
  </ng-template>

</mat-toolbar>