.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
}

.auth-card {
  width: 400px;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.logo {
  display: inline-block;
  background: black;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.full-width {
  width: 100%;
  margin-top: 1rem;
}

p {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #555;
}

button {
  margin-top: 1rem;
}

.error-border .mat-form-field-outline {
  color: red !important;
  border-color: red !important;
}
